---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Formax - Tarnowska Firma Budowlana zoriento">
    <div class="container">
        <h1>Formax - Tarnowska Firma Budowlana zoriento</h1>
        <p>Formax - Tarnowska Firma Budowlana zoriento</p>
    </div>
</MainLayout>
