---
import config from "@config/config.json";

const { call_to_action } = config;
const { button } = call_to_action;
---

<div class="bg-[url('/images/baner.webp')] bg-no-repeat bg-cover bg-fixed text-white relative isolate ">
    <div class="bg-[#28292E] absolute inset-0 -z-10 opacity-50"></div>
    <header class="container px-5 mx-auto grid lg:grid-cols-[50%,50%] min-h-screen">
        <div class="flex flex-col">
            
        </div>
        <div class="flex flex-col justify-center">
            <h1 class="h1 mb-7 text-white">Firma budowlana FORMAX - Twój solidny partner w realizacji marzeń o idealnym domu!</h1>
            <p class="text-xl">
                Spełniamy Twoje oczekiwania, oferując szeroką gamę usług budowlanych: od usług muraskich i elewacje z klinkieru, przez budowę domów jednorodzinnych oraz usługi brukarskie, po wyjątkowe ogrodzenia i adaptacje poddaszy. Doświadczenie od 1993 roku, rzetelność i terminowe wykonywanie prac to nasze największe atuty.
            </p>
            <button class="bg-red-700 text-white px-5 py-3 mt-7 rounded-md shadow-md hover:bg-red-600 transition duration-300 ease-in-out">
                <a href={button.link} class="flex items-center">
                    <span class="mr-2">{button.label}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                    </svg>
                </a>
            </button>
        </div>
    </header>
</div>