---

---

<div class="bg-gray-200">
    <section class="container mx-auto  px-5 grid lg:grid-cols-2 gap-4">
            <div class="my-[var(--space-2xl-3xl)]">
            <h2 class="h2 capitalize">Napisz do nas</h2>
            <p class="max-w-[500px] text-gray-700 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
            <form class="grid gap-4 bg-white p-[var(--space-l-xl)]" action="send-email.php">
                <input name="name" type="text" placeholder="Imię i Nazwisko" class="bg-transparent border-2 border-gray-500 p-4" />
                <input name="email" type="text" placeholder="Email" class="bg-transparent border-2 border-gray-500 p-4" />
                <input name="phone" type="text" placeholder="Telefon" class="bg-transparent border-2 border-gray-500 p-4" />
                <textarea name="message" placeholder="Wiadomość" class="bg-transparent border-2 border-gray-500 p-4"></textarea>
                <button type="submit" class="uppercase font-semibold text-red-600 mt-5 max-w-fit border-2 border-red-600 p-4 justify-start">Wyślij wiadomość</button>
            </form>
        </section>
    </div>