---
import faqs from '@config/faqs.json'
---

<section class="container mx-auto my-[var(--space-2xl-3xl)] px-5">
    <h2 class="h2 mb-8">Najczęsciej zadawane pytania</h2>
    {faqs.map((faq) => (
        <div class="mb-8 border-2 border-[#555760] border-solid">
            <div class="collapse">
  <input type="checkbox" />
  <h4 class="collapse-title h4">
    {faq.question}
  </h4>
  <div class="collapse-content">
    <p>{
        faq.answer
    }</p>
  </div>
</div>
        </div>
    ))}
</section>